extends layout

block content
  h1= 'yaml swagger entity generator'
  p= 'MYSQL to yaml swagger'
  form
  div(class='form-group row')
    label(for='colFormLabelSm' class='col-sm-2 col-form-label col-form-label-sm') Host
    div(class='col-sm-10')
      input(type='email' class='form-control form-control-sm' id='colFormLabelSm' placeholder="HOST")
  div(class='form-group row')
    label(for='colFormLabelSm' class='col-sm-2 col-form-label col-form-label-sm') UserName
    div(class='col-sm-10')
      input(type='email' class='form-control form-control-sm' id='colFormLabelSm' placeholder="HOST")

  div(class='form-group row')
    label(for='colFormLabelSm' class='col-sm-2 col-form-label col-form-label-sm') Password
    div(class='col-sm-10')
      input(type='email' class='form-control form-control-sm' id='colFormLabelSm' placeholder="HOST")


